

body {
    display: flex;
    justify-content: space-between;
}


.boxvertical { 
    background-color: yellow;
    flex-direction: row;
    height: 900px;
    width: 20%;
    border: 1px solid;
}
.boxhorizontal {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 900px;
    width: 70%;
}

.box1, .box2{
    width: 100%;
    border: 1px solid;
    height: 45%;

}
.box1 {
    background-color: cornflowerblue}

.box2 {
    background-color: gray;
}




