body {
    display: flex;
    justify-content: space-between;
}

.boxhorizontal {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 900px;
    width: 50%;
}
.box1, .box2{
    width: 100%;
    border: 2px solid;
    height: 45%;

}
.box1 {
    background-color: cornflowerblue}

.box2 {
    background-color: gray;
}