

header, footer {
    height: 200px;
    border: 1px solid black;

}
header { 
    background-color: yellow; 
    margin-bottom: 15px;
}

main {
    display: flex; 
    margin-bottom: 15px;
    height: 200px;

}
.sec1 {
    flex-basis: 50%;
    background-color: gray;
    border: 1px solid ; 
    margin-right: 15px;
    
}
.sec2 {
    flex-basis: 50%;
    background-color: aqua;
    border: 1px solid;
    margin-left: 15px;
}


footer {
    background-color:cornflowerblue ;
}

