
body {
    display: flex;

}

header, main, footer {
    flex: content;
    height: 900px;
    border: 1px solid black;
    margin: 40px;
}

header { 
    background-color: yellow;
}

main {
    background-color: gray;
}

footer {
    background-color:cornflowerblue ;
}

